.visual_section .muta {
    height: 800px;
    filter: grayscale(10%);
}

#content .visual_section .muta_1 {
    background: url(../img/banner/1.jpg) no-repeat;
}

#content .visual_section .muta_2 {
    background: url(../img/banner/2.jpg) no-repeat;
}

#content .visual_section .muta_3 {
    background: url(../img/banner/3.jpg) no-repeat;
}

#content .visual_section .muta_4 {
    background: url(../img/banner/4.jpg) no-repeat;
}

#content .visual_section .muta .muta_txt {
    position: relative;
    top: 200px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

#content .visual_section .muta .muta_txt>h3 {
    font-size: 56px;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    padding: 20px 0;
}

#content .visual_section .muta .muta_txt>span {
    display: block;
    font-size: 26px;
    text-align: center;
    padding: 20px 0;
}

#content .visual_section .muta .muta_txt>a {
    display: block;
    width: 200px;
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    transition: all 0.5s;
}

#content .visual_section .muta .muta_txt>a:hover {
    color: #4a99c3;
    background-color: #fff;
}

/*main_txt*/
.main_txt {
    width: 100%;
    /* background: rgb(154, 183, 197, 0.5); */
    text-align: center;
    padding: 50px 0;
    margin: 50px 0 25px;
    line-height: 2em;
    font-size: 32px;
    font-weight: 500;
}

.main_txt span {
    display: block;
}

.main_txt .font_box {
    width: 200px;
    padding: 10px;
    border: 1px solid #0b547a;
    margin: 0 auto;
}

.sub_tit {
    margin: 50px 0;
    font-weight: 600;
    font-size: 28px;
}

.sub_desc {
    font-size: 28px;
}

.main_txt>.line {
    width: 2px;
    height: 200px;
    margin: 40px auto 20px;
    background-color: #333;
}

/*go page*/
.work_section>ul {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;

}

.work_section>ul>li {
    overflow: hidden;
}

.work_section>ul>li div {
    overflow: hidden;

}

.work_section>ul>li img {
    display: block;
    margin: 0 auto;
    width: 80%;
}


.work_section>ul>li span {
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 30px 0;
    color: #333;
}

.about_box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.about_box>li {
    width: 48%;
    margin: 50px auto 100px;
    height: 500px;
}

.about_box>.c_txt {
    background-color: #fafafa;
}

.about_box>.c_txt>.c_txt_inner {
    /* background-color: #ccc; */
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 3.5%;
}

.c_txt_inner span {
    display: block;
}

.c_pic img {
    width: 100%;
}

.c_tit {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}

.c_sub_tit {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.c_txt_inner li {
    margin: 5px 0;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .visual_section .muta {
        height: 500px;
        filter: grayscale(10%);
    }

    #content .visual_section .muta .muta_txt {
        position: relative;
        top: 25px;
        width: 80%;
        height: 260px;
        margin: 50px auto;
        text-align: center;
        padding: 50px 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .visual_section>.slick-dots {
        bottom: 25px;
    }

    #content .visual_section .muta .muta_txt>h3 {
        font-size: 24px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        padding: 20px 0;
    }

    #content .visual_section .muta_1 .muta_txt>h3 {
        font-size: 20px;
    }

    #content .visual_section .muta_4 .muta_txt>h3 {
        font-size: 20px;
    }

    #content .visual_section .muta .muta_txt>span {
        display: block;
        font-size: 18px;
        text-align: center;
        padding: 20px 0;
    }

    #content .visual_section .muta .muta_txt>a {
        display: block;
        width: 150px;
        margin: 10px auto;
        border: 1px solid #fff;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        padding: 10px 0;
        color: #fff;
        transition: all 0.5s;
    }

    .main_txt {
        font-size: 22px;
        margin: 50px 0 0;
    }

    .main_txt span {
        display: block;
    }

    .main_txt .font_box {
        width: 200px;
        padding: 10px;
    }

    .main_txt>.line {
        display: none
    }

    .sub_tit {
        margin: 25px 0;

        font-size: 18px;
    }

    .sub_desc {
        font-size: 14px;
    }

    .work_section>ul {
        width: 100%;
        display: block;
    }

    /***********************/
    .about_box {
        width: 100%;
        display: block;
    }

    .about_box>li {
        width: 100%;
        margin: 50px auto;
        height: auto;
    }

    .about_box>.c_txt {
        background-color: #fafafa;
        margin-top: 0;
    }

    .about_box>.c_txt>.c_txt_inner {
        /* background-color: #ccc; */
        width: 90%;
        height: 90%;
        margin: 3.5% auto;
        padding-bottom: 3.5%;
    }

    .c_tit {
        font-size: 18px;

    }

    .c_sub_tit {
        font-size: 14px;

    }

    .c_txt_inner li {
        font-size: 14px;
    }
}