.visual {
    width: 100%;
    height: 500px;
    background-color: #aaa;
    background: url(../img/about_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/*main_txt*/
.main_txt {
    width: 100%;
    /* background: rgb(154, 183, 197, 0.5); */
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
    line-height: 2em;
    font-size: 32px;
    font-weight: 500;
}

.main_txt span {
    display: block;
}

.main_txt .font_box {
    width: 200px;
    padding: 10px;
    border: 1px solid #0b547a;
    margin: 0 auto;
}

.sub_tit {
    margin: 50px 0;
    font-weight: 600;
    font-size: 28px;
}

.main_txt>.line {
    width: 2px;
    height: 100px;
    margin: 30px auto;
    background-color: #333;
}

.main_txt>.desc {
    font-size: 26px;
    line-height: 1.5em;
}

.sub_desc {
    font-size: 28px;
}

/*go page*/


.about_box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.about_box>li {
    width: 48%;
    margin: 50px auto 100px;
    height: 500px;
}

.about_box>.c_txt {
    background-color: #fafafa;
}

.about_box>.c_txt>.c_txt_inner {
    /* background-color: #ccc; */
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 3.5%;
}

.c_txt_inner span {
    display: block;
}

.c_pic img {
    width: 100%;
}

.c_tit {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}

.c_sub_tit {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
}

.c_txt_inner li {
    margin: 5px 0;
    font-size: 18px;
}


.contact_wrap {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    background-color: salmon;
    background: url(../img/about_2.jpg) no-repeat;
    background-size: cover;
}

.contact_wrap>div {
    position: relative;
    float: right;
    top: 100px;
    right: 30px;
    width: 30%;
}

.contact_wrap ul {
    width: 90%;
    margin: 0 auto;
}

.contact_wrap ul li {
    padding: 20px 0;
    font-size: 22px;
    font-weight: 600;
}

.contact_wrap .font_box {
    border-color: #333;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    margin-left: 5%;
    font-size: 22px;
}

.contact_wrap .font_box:hover {
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .visual {
        position: absolute;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: #aaa;
        background: url(../img/about_1_mobile.jpg) no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .main_txt {
        font-size: 22px;
        margin: 0;
    }

    .main_txt span {
        display: block;
    }

    .main_txt .font_box {
        width: 200px;
        padding: 10px;
    }

    .main_txt>.line {
        /* display: none */
        height: 30px;
    }

    .sub_tit {
        margin: 25px 0;

        font-size: 18px;
    }

    .sub_desc {
        font-size: 14px;
    }

    .main_txt>.desc {
        font-size: 14px;
    }

    .about_box {
        width: 100%;
        display: block;
    }

    .about_box>li {
        width: 100%;
        margin: 50px auto;
        height: auto;
    }

    .about_box>.c_txt {
        background-color: #fafafa;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about_box>.c_txt>.c_txt_inner {
        /* background-color: #ccc; */
        width: 90%;
        height: 90%;
        margin: 3.5% auto;
        padding-bottom: 3.5%;
    }

    .c_tit {
        font-size: 18px;

    }

    .c_sub_tit {
        font-size: 14px;

    }

    .c_txt_inner li {
        font-size: 14px;
    }

    .contact_wrap {
        /* position: relative;
        width: 100%;
        height: 300px;
        background-color: #aaa;
        background: url(../img/about_2_mobile.jpg) no-repeat;
        background-size: 100%;
        background-position: center;
        margin: 20px auto; */
        position: relative;
        width: 100%;
        height: 200px;
        background-color: #aaa;
        background: url(../img/about_2_mobile.jpg) no-repeat;
        background-size: 100%;
        background-position: center bottom;
        margin: 20px auto 50px;
    }

    .contact_wrap>div {
        position: relative;
        top: 20px;
        right: 0;
        width: 60%;
    }

    .contact_wrap ul {
        width: 90%;
        margin: 0 auto;
    }

    .contact_wrap ul li {
        padding: 10px 0;
        font-size: 12px;
        font-weight: 600;
    }

    .contact_wrap .font_box {
        border-color: #333;
        border-width: 1px;
        display: block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin: 20px 0;
        margin-left: 5%;
        font-size: 14px;
    }

}