h3 {
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}


ul.thum_wrap {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

li.thum_box {
    position: relative;
    float: left;
    width: 20%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 2% 2.5%;
    cursor: pointer;
}

li.thum_box>img {
    width: 100%;
}

.detail_img {
    position: absolute;
    display: none;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

li.thum_box>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s;
}

li.thum_box:hover>a {
    opacity: 1;
}

li.thum_box>a>i.fas {
    color: #fff;
    font-size: 32px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.showbox {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -5;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
    overflow: scroll;
}

.close_btn>i {
    color: #fff;
    position: fixed;
    top: 30px;
    z-index: 200;
    cursor: pointer;
    font-size: 33px;
    opacity: 0;
}

/*banner*/
ul.b_thum_wrap {
    margin: 100px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

ul.b_thum_wrap>li {
    width: 50%;

}

ul.b_thum_wrap>.thum_txt {
    position: relative;
    font-size: 38px;
    font-weight: 600;

}

ul.b_thum_wrap>.thum_txt>span {
    position: absolute;
    display: block;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 1.5em;
}



li.b_thum_box {
    position: relative;
    display: none;
    margin: 0;
    margin-bottom: 15px;

}

ul.b_thum_wrap>li.on {
    display: block;
}

li.b_thum_box>img {
    width: 100%;
}

.detail_img {
    position: absolute;
    display: none;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

li.b_thum_box>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.5s;
}

li.b_thum_box:hover>a {
    opacity: 1;
}

li.b_thum_box>a>i.fas {
    color: #fff;
    font-size: 32px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}


.b_showbox .detail_img {
    position: absolute;
    display: none;
    max-width: 30%;
    left: 50%;
    transform: translateX(-50%);

}


ul.b_thum_wrap>.thum_txt>span {
    font-weight: 500;
}

ul.b_thum_wrap>.thum_txt>span>span {
    font-weight: 600;
}






@media screen and (max-width: 1024px) {
    ul.b_thum_wrap {
        margin: 50px auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    ul.b_thum_wrap>.thum_txt>span {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {

    ul.b_thum_wrap>.thum_txt>span {
        font-size: 12px;
    }


}