.visual_section .muta {
    height: 800px;
    filter: grayscale(10%);
}

#content .visual_section .muta_1 {
    background: url(img/banner/1.jpg) no-repeat;
}

#content .visual_section .muta_2 {
    background: url(img/banner/2.jpg) no-repeat;
}

#content .visual_section .muta_3 {
    background: url(img/banner/3.jpg) no-repeat;
}

#content .visual_section .muta_4 {
    background: url(img/banner/4.jpg) no-repeat;
}

#content .visual_section .muta .muta_txt {
    position: relative;
    top: 200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

#content .visual_section .muta .muta_txt > h3 {
    font-size: 56px;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    padding: 20px 0;
}

#content .visual_section .muta .muta_txt > span {
    display: block;
    font-size: 26px;
    text-align: center;
    padding: 20px 0;
}

#content .visual_section .muta .muta_txt > a {
    display: block;
    width: 200px;
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    transition: all 0.5s;
}

#content .visual_section .muta .muta_txt > a:hover {
    color: #4a99c3;
    background-color: #fff;
}

/*main_txt*/
.main_txt {
    width: 100%;
    /* background: rgb(154, 183, 197, 0.5); */
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
    line-height: 2em;
    font-size: 32px;
    font-weight: 500;
}

.main_txt .font_box {
    width: 200px;
    padding: 20px;
    border: 1px solid #0b547a;
}

.sub_tit {
    display: block;
    margin: 50px 0 0;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .visual_section .muta {
        height: 600px;
        filter: grayscale(10%);
    }

    #content .visual_section .muta .muta_txt {
        position: relative;
        top: 50px;
        width: 80%;
        height: 260px;
        margin: 50px auto;
        text-align: center;
        padding: 50px 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #content .visual_section .muta .muta_txt > h3 {
        font-size: 24px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        padding: 20px 0;
    }
    #content .visual_section .muta_1 .muta_txt > h3 {
        font-size: 22px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        padding: 20px 0;
    }
    #content .visual_section .muta .muta_txt > span {
        display: block;
        font-size: 18px;
        text-align: center;
        padding: 20px 0;
    }

    #content .visual_section .muta .muta_txt > a {
        display: block;
        width: 150px;
        margin: 10px auto;
        border: 1px solid #fff;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        padding: 10px 0;
        color: #fff;
        transition: all 0.5s;
    }
}
